@model Video_Rentals.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movies</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fixed following the error")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReaslesDate)
        @Html.TextBoxFor(m => m.ReaslesDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReaslesDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genre, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumeberOfStock)
        @Html.TextBoxFor(m => m.NumeberOfStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.NumeberOfStock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts{
    
    @Scripts.Render("~/bundles/jqueryval")
    
    }